<div class="about__container">
  <p>
    Sincerely, I have not have watched this serie in my life. So I am gonna put
    some Wikipedia info I've found about it...
  </p>
  <p class="lorem">
    Lorem fistrum ese hombree apetecan hasta luego Lucas diodeno. Hasta luego
    Lucas te voy a borrar (Pablo es guapo) el cerito a peich ese que llega
    llevame al sircoo diodeno a gramenawer. No puedor torpedo apetecan mamaar
    condemor. Mamaar va usté muy cargadoo qué dise usteer no puedor llevame al
    sircoo al ataquerl diodeno va usté muy cargadoo diodeno benemeritaar. Está
    la cosa muy malar condemor de la pradera hasta luego Lucas diodenoo ese que
    llega pecador llevame al sircoo. A wan va usté muy cargadoo mamaar se calle
    ustée ese que llega qué dise usteer a gramenawer papaar papaar te voy a
    borrar el cerito diodenoo qué dise usteer. Ese hombree a wan hasta luego
    Lucas de la pradera mamaar ese que llega. Benemeritaar condemor amatomaa a
    wan está la cosa muy malar amatomaa apetecan.
  </p>
  <p>Ay... good Chiquito, never fails. See you soon 👋</p>
</div>
