.character {
  background-color: #8d01533a;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    cursor: pointer;
    width: 50%;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #7eac3f 0px 1px 1px, #7eac3f 0px 0px 1px 1px;
    border-radius: 5px;
    background-color: #8a657a10;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      background-color: #f5018b10;
      box-shadow: #7eac3f 0px 3px 3px, #7eac3f 0px 0px 3px 3px;
      transform: scale(1.1);
    }

    h1 {
      text-align: center;
      font-size: 2.5rem;
      color: #55663e;
      padding: 10px;
      margin: 10px;
      background-color: #98ce4c56;
      border-radius: 100px;
    }

    img {
      border-radius: 50%;
    }
  }

  .btn__container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;

    button {
      cursor: pointer;
      width: 100%;
      min-width: 100px;
      font-size: 1.7rem;
      padding: 10px;
      margin: 0 30px;
      background-color: #98ce4c85;
      color: black;
      border: none;
      border-radius: 5px;
      box-shadow: grey 0px 1px 1px, grey 0px 0px 1px 1px;

      &:hover {
        background-color: #f5018b18;
        box-shadow: #7eac3f 0px 3px 3px, #7eac3f 0px 0px 3px 3px;
        transform: scale(1.1);
      }
    }
  }
}
